/* Estilos para o resultado.html */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px;
    background-color: #007bff;
    border-radius: 3px;
}

nav a:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.resultado {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.resultado p {
    margin: 10px 0;
}

.copy-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #0056b3;
}
