<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcular Custo</title>
</head>
<body>
    <h1>Calcular Custo</h1>
    <form action="/calcular" method="post">
        <label for="item">ID do item:</label>
        <input type="text" id="item" name="item" required>
        <br>
        <label for="tipo">Tipo de cálculo:</label>
        <select id="tipo" name="tipo" required>
            <option value="1">Refação</option>
            <option value="2">Criação</option>
            <option value="3">Ajuste</option>
        </select>
        <br>
        <input type="submit" value="Calcular">
    </form>
</body>
</html>
