<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <h1>Resultado</h1>
    {% if resultado %}
        <p>CUSTO INTERNO:</p>
        <p>ID: {{ resultado[2]['ID'].values[0] }}</p>
        <p>ITEM: {{ resultado[2]['ITEM'].values[0] }}</p>
        <p>TOTAL: R$ {{ '%.2f'|format(resultado[0]) }}</p>
        <p>7% do total: R$ {{ '%.2f'|format(resultado[1]) }}</p>
    {% else %}
        <p>{{ resultado }}</p>
    {% endif %}
</body>
</html>
